button {
  display: block;
}

.square {
  background-color: black;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1em;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  text-align: center
}